<aside class="col-xl-3 col-lg-3 sidebar left-sidebar sidebar-fixed sticky-sidebar-wrapper" style="z-index: 0;">
	<div class="sidebar-overlay"></div>
	<a class="sidebar-close" href="#"><i class="d-icon-times"></i></a>
	<a href="#" class="sidebar-toggle"><i class="fas fa-chevron-right"></i></a>
	<div class="sidebar-content">
		<div class="sticky-sidebar">
			<div class="widget widget-collapsible">
				<h2 class="widget-title">Mon compte</h2>
				<ul class="widget-body filter-items search-ul">
					<li>
						<a href="#">Mes accès</a>
						<ul>
							<li><a href="#">Samsung</a></li>
							<li><a href="#">Arcade1UP</a></li>
						</ul>
					</li>
					<li><a href="#">Mes commandes</a></li>
					<li><a href="#">Mes accès</a></li>
					<li><a class="text-danger" href="{{ path('app_logout') }}"><i class="d-icon-power-off"></i> Déconnexion</a></li>
				</ul>
			</div>
		</div>
	</div>
</aside>