{% extends '@EasyAdmin/page/content.html.twig' %} 

{% block page_title %}Espace admin{% endblock %}

{% block content %}

<section class="pt-5">
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<div class="border p-3 rounded">
					<i class="fa fa-users"></i>
					<div class="">
						<span>Utilisateurs</span>
						<h4>100</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="border p-3 rounded">
					<i class="fa fa-users"></i>
					<div class="">
						<span>Utilisateurs</span>
						<h4>100</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="border p-3 rounded">
					<i class="fa fa-users"></i>
					<div class="">
						<span>Utilisateurs</span>
						<h4>100</h4>
					</div>
				</div>
			</div>
			<div class="col-sm-3">
				<div class="border p-3 rounded">
					<i class="fa fa-users"></i>
					<div class="">
						<span>Utilisateurs</span>
						<h4>100</h4>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock %}
