{% extends 'user.html.twig' %}

{% block title %}Mettre à jour mon profil{% endblock %}

{% block breadcrumb %}

<div class="breadcrumb-dashboard">
    <h5 class="h5">Compte</h5>
    <div>
        <a href="{{ path('user_dashboard') }}">Accueil</a>
        <i class="fa-solid fa-arrow-right-long"></i>
        <a href="{{ path('user_compte') }}">Compte</a>
		  <i class="fa-solid fa-arrow-right-long"></i>
        <span>Mettre à jour mon profil</span>
    </div>
</div>

{% endblock %}

{% block body %}

{{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}

{% endblock %}
